@import '@/assets/sass/variables.sass'
  
.p-title
  font-family: 'Barlow', sans-serif
  font-size: $font-large
  color: inherit

  &--light
    color: $color-light
  
  &--huge
    font-size: $font-huge

  &--giant
    font-size: $font-giant